.btn {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn:not(.disabled) {
    cursor: pointer;
}

.btn.disabled {
    opacity: .65;
}