.title {
    padding-left: 2.5em;
}

.input-section {
    border: 1px solid black;
}

.chart-section {
    background-color: white;
    width: 100%;
    padding: 2em 0;
}

.footer {
    bottom: 0;
    padding: 1.2em 2.5em;
}